@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


body{
    padding: 32px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.img__logo{
    width: 2.5rem;
    margin: 0 12px 0 0;
    
}

.logo__title{
    color: #343E63;
    font-size: 22px;
    font-weight: 900;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    height: 100px;
    width: 100%;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

a{
    font-weight: 600;
    color: #243e63;
    text-decoration: none;
}

.nav__link:hover{
    color: #6415ff;
    border-bottom: 2px solid #6415ff;
    padding: 0 0 4px;
}

.nav__link{
    font-size: 14px;
    margin: 0 24px;
    padding: 0 0 24px;
}

.login__link{
    margin: 0 0 0 48px;
}

.sign__up--link{
    color: #f7fafc;
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 50px;
    margin-right: 0;
}

.sign__up--link:hover{
    color: white;
    border-bottom: none;
    padding: 12px 32px;
    border-radius: 50px;
}

header{
    height: calc(100vh - 100px);
}

.row{
    width: 100%;
    max-width: 1200px; 
    margin: auto;
}

.landing__body{
    display: flex;
}

.landing__text{
    width: 40%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.landing__img{
    border: 1px solid black;
    width: 60%;
}

.title{
    width: 500px;
    font-size: 34px;
    font-weight: 600;
    color: #1a202c;
}

span{
    color: #6415ff;
}

.landing__para{
    width: 550px;
    margin: 32px 0;
    font-size: 18px;
    color: #243e63;
    line-height: 1.5;
}

.search{
    display: flex;
    align-items: center;
}

input{
    padding: 24px 232px 24px 28px;
    background: #ffffff;
    border-radius: 50px;
    border: 2px solid #c4c4c4;
}

input[type=text]:focus{
    outline: 2px solid  #6415ff;  
}
  
input:hover{
    box-shadow: 0px 0px 3px#737373;
}

input::placeholder{
    font-size: 16px;
    color: #a0aac0;
    font-weight: 400;
}

.search__btn{
    color: #f7fafc;
    background-color: #6415ff;
    font-size: 16px;
    padding: 16px 40px;
    margin: 8px 8px 8px 0;
    margin-left: 268px;
    border: none;
    border-radius: 50px;
    position: absolute;
    font-weight: 700;
}


.trusted{
    margin-top: 90px;
}

.trusted__para{
    font-size: 12px;
    color: #a0aac0;
    font-weight: 700;
}
 
.trusted__img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    padding: 0 64px 0 0;
    margin: 16px 0 0;
}
/* 




.landing__img{
 
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/design-illustration-2.6da6a00b20c07c4a9b65d1870679e1b8.svg);
    max-width: 1300px;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;

}










 */

