@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
}
.img__logo{
    width: 2.5rem;
}

.logo__title{
    color: #343E63;
    font-size: 22px;
    font-weight: 900;
    font-weight: 800;
    margin-left: 10px;
}

.nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 0;
}

nav{
    padding: 16px 16px 0 20px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
}

li{
    list-style: none;
    text-decoration: none;
}

a{
    font-weight: 600;
    color: #243e63;
    text-decoration: none;
}

.nav__link:hover{
    color: #6415ff;
    border-bottom: 2px solid #6415ff;
    padding: 0 0 4px;
}

.nav__link{
    font-size: 14px;
    margin: 0 24px;
}

.login__link{
    margin: 0 0 0 48px;
    padding: 0 0 4px;
}

.sign__up--link{
    color: #f7fafc;
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 50px;
}

.sign__up--link:hover{
    color: white;
    border-bottom: none;
    padding: 12px 32px;
    border-radius: 50px;
}

header{
    display: flex;
    height: calc( 100vh - 88px) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.row{
    width: 100%;
    max-width: 1200px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    width: 500px;
    font-size: 34px;
    font-weight: 300;
    color: #1a202c;
    margin-top: -32px;
}
span{
    color: #6415ff;
}
.landing__text{
    width: 40%;
    margin: 50px;
}

.landing__img img{
    box-sizing: border-box;
   
}
.landing__img{
 
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/design-illustration-2.6da6a00b20c07c4a9b65d1870679e1b8.svg);
    max-width: 1300px;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;

}

.landing__para{
    width: 550px;
    margin: 32px 0;
    font-size: 18px;
    color: #243e63;
    line-height: 1.5;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button{
    color: #f7fafc;
    background-color: #6415ff;
    font-size: 16px;
    padding: 16px 38px;
    margin: 8px 0px 8px 240px;
    border-radius: 50px;
    position: absolute;
    font-weight: 700;
}

input{
    padding: 22px 210px 22px 32px;
    margin-left: -30px;
    background: #ffffff;
    border-radius: 50px;
    border: 2px solid #c4c4c4;
}

input[type=text]:focus{
    outline: 2px solid  #6415ff;     /* oranges! yey */
  }
  
input:hover{
    box-shadow: 0px 0px 3px#737373;
}

input::placeholder{
    font-size: 16px;
}

.trusted{
    margin-top: 90px;
}

.trusted p{
    font-size: 12px;
    color: #a0aac0;
    font-weight: 700;
}

.trusted img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    padding: 0 64px 0 0;
    margin: 16px 0 0;
}

